[Desktop Entry]
Name=Wayland Island
Comment=Dynamic Island for Linux
Exec="/home/raj/Storage/prsnl/Raj Prsnl/skill/dynamic island/run.sh"
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=true
