[Desktop Entry]
Name=Wayland Island
Comment=Dynamic Island for Linux
Exec=bash -c "cd '/home/raj/Storage/prsnl/Raj Prsnl/skill/dynamic island' && source .venv/bin/activate && python gtk_main.py"
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=true
